<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" backupGlobals="true" colors="true">
  <testsuites>
    <testsuite name="Bento SDK Tests">
      <directory>./tests/SDK</directory>
    </testsuite>
    <testsuite name="Bento Core Tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>